<!DOCTYPE html>
<html lang="en">
<%# Includes a head tag  saved inside components.head.ejs%>
<%- include("./components/head") %>
<body>
    <%- include ("./components/topbody.ejs") %>
    <%# Includes all components specified by the controller %>
    <% components.forEach(component => { %>
        <%- include(component) %>
    <% }); %>
    
    <%# Includes a component containing everything that should go at the end of the body %>
    <%- include("./components/endbody.ejs") %>
</body>
</html>