@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.graphContainer{
    width: 500px;
    height: 400px;
}


header{
    width: 100%;
    height: 100px;
    background-color: #4377ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Merriweather", serif;
}

header>img.logo{
    height: 100%;
    position: relative;
    left: 0;
    
}

header>h1{
    color:white;
    width: fit-content;
    position: absolute;
    left: 50%;
    translate: -50%;
    font-weight: 400;
}



.contents{
    display: contents;
}

.mainpanel{
    display: flex;
    width: 100vw;
    padding: 30px;
    height: max-content;

}

.mainpanel>*{
    margin: 5px;
    padding:5px;
}

.mainpanel>canvas{

    width: 70%;
    height: max-content;
}

.mainpanel>.form-wrapper{
    width: 30%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.mainpanel>.form-wrapper>form{
    display: flex;
    flex-direction: column;
    
}


.mainpanel>.form-wrapper>form>*{
    display: inline-block;
    position: relative;
    left: 50%;
    translate: -50%;
}


.courses-wrapper{
    display: flex;
    flex-direction: row;
}
.mainpanel>.form-wrapper>form>span.title{
    margin:10px;
    width:100%;
    font-size: 22px;
    text-align: center;
}

.range-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.range-wrapper>input{
    width: 90%;
}


.mainpanel>canvas{
    max-width: 70%;
    max-height: 88%;
}